.city {
    border-style: solid;
    border-color: #337ab7;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

.loginbutton {
    float: right;
}

#popupbox{
    padding: 10px;
    height: 150px; 
    position: absolute; 
    background: white; 
    border: solid #337ab7 2px;
    border-radius: 10px;
    z-index: 15;
    left: 50%;
    visibility: hidden; 
}

a .loginbutton{
    color: black;
}

#closerpopup {
float: right;
margin: 2px;
}

.fav {
    float: right;
    font-size: 16px;
    color: black;
}
